/metrics.md
/TeamMetrics.md
/RequirementsScopeOfUncertainty.drawio
/RequirementsScopeOfUncertainty.png
/QualitySpeedMatrix.png
/QualitySpeedMatrix.drawio
/Scrum.drawio
/Scrum.png
/MeetingTimes.drawio
/MeetingTimes.png
/ProjectBurndown.drawio
/Untitled document.gdoc
/OtherImages